$base-50: #282828;
$base-46: #2b2b2b;
$base-45: #1c1c1c;
$base-40: #555555;
$base-30: #b6b6b6;
$base-20: #dedede;
$base-10: #f5f5f5;

$error-0: #ffefef;
$error-25: #d70015;
$error-50: #990000;

$success-25: #248a3d;
$success-50: #00592d;

$accent-0: #eff5ff;
$accent-10: #6aa5f0;
$accent-20: #9945ff;
$accent-30: #0056be;
$accent-40: #003e92;
$accent-50: #002459;

/* defaults */
$site-width: 1440px;
$container-width-large: 1224px;
$header-height: 104px;
$inner-height: calc(100vh - 160px);
/* font sizes */
$font-size-xx-small: 10px;
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-medium: 18px;
$font-size-medium-large: 20px;
$font-size-large: 24px;
$font-size-x-large: 26px;
$font-size-xx-large: 28px;

/* font weights */
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-heavy: 700;
